h1 {
  color: #f44242;
  text-align: center;
}

h2 {
  color: #f442ee;
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
}

ul {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

ol {
  font-size: 20px;
  font-family: monospace;
  line-height: 25px;
}
